Makefile
*~
build-aux
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
.deps/
COPYING
INSTALL
config.h
config.log
config.status
peak_memusage.exe
peak_memusage.o
stamp-h1
use_memory*.exe
use_memory*.o
